$cs_black: #222;
$cs_white: #fff;
$cs_gray: #333;

$cs_primary: darkblue;

// TODO: load fonts properly!
$font_serif: 'Merriweather', Times, 'Times New Roman', serif;
$font_sans: 'Roboto', Arial, sans-serif;
