* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: lightgray;
  font: 100%/1.5 sans-serif;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
}
